
@font-face {
	font-family: 'Libertine'; 
	src: url('../fonts/LinLibertineTTF_5.3.0_2012_07_02/LinLibertine_Rah.ttf');
}

@font-face {
	font-family: 'Libertine-italic'; 
	src: url('../fonts/LinLibertineTTF_5.3.0_2012_07_02/LinLibertine_RIah.ttf');
}

